<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_iphoneos8.1</string>
			<key>LibName</key>
			<string>iOS</string>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>platform</key>
			<string>iphoneos</string>
			<key>project</key>
			<string>SpriteKitTest.xcodeproj</string>
			<key>target</key>
			<string>SpriteKitTest</string>
		</dict>
		<key>LuaAppWindow edited source path</key>
		<string>CreateGame</string>
		<key>LuaAppWindow frame</key>
		<string>40 435 1379 760 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.9</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>CreateGame</string>
			<string>GameScene</string>
			<string>Spearman</string>
			<string>Spaceship</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>iphoneos</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>SourceFile</string>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>CreateGame</key>
		<dict>
			<key>Source File Auto Reload</key>
			<false/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>CreateGame</string>
			<key>SourceItemChangeTime</key>
			<real>415040997.97592998</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>106</integer>
				<key>SrcEditor Visible Length</key>
				<integer>309</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>GameScene</key>
		<dict>
			<key>Source File Auto Reload</key>
			<false/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>GameScene</string>
			<key>SourceItemChangeTime</key>
			<real>445856076.426153</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>662</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1530</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Spaceship</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>442865060.486808</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>347</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>394</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Spaceship.png</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9va3AEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAYAMAAAQAAAADAwAAAAMAAAUAAAABAQAAVXNlcnMA
			AAAIAAAAAQEAAGplYW4tbHVjDQAAAAEBAABEZXZlbG9wcGVtZW50
			AAAAEAAAAAEBAABDZWxlZGV2IENvZGVGbG93HAAAAAEBAABDb2Rl
			RmxvdyBTYW1wbGUgQXBwbGljYXRpb25zDgAAAAEBAABTcHJpdGVL
			aXQgVGVzdAAADQAAAAEBAABTcGFjZXNoaXAucG5nAAAAHAAAAAEG
			AAAQAAAAIAAAADAAAABIAAAAYAAAAIQAAACcAAAACAAAAAQDAAB8
			ZAIAAAAAAAgAAAAEAwAAw3tOAAAAAAAIAAAABAMAADWDTgAAAAAA
			CAAAAAQDAABSU08AAAAAAAgAAAAEAwAAbrxPAAAAAAAIAAAABAMA
			AFq9TwAAAAAACAAAAAQDAAClK5IAAAAAABwAAAABBgAA2AAAAOgA
			AAD4AAAACAEAABgBAAAoAQAAOAEAAAgAAAAABAAAQbi/i68AAAAY
			AAAAAQIAAAEAAAAAAAAADwAAAAAAAAAAAAAAAAAAAAgAAAAEAwAA
			BQAAAAAAAAAEAAAAAwMAAPcBAAAIAAAAAQkAAGZpbGU6Ly8vDAAA
			AAEBAABNYWNpbnRvc2ggSEQIAAAABAMAAAAARqcDAQAACAAAAAAE
			AABBuCL/wAAAACQAAAABAQAAMUJCMzRCOEEtN0Y1OS0zQzI5LTlC
			QTktMjEzQUU4NDkzODZFGAAAAAECAACBAAAAAQAIAO8XAAABAAgA
			AAAAAAAAAAABAAAAAQEAAC8AAAAAAAAAAQUAAPkAAAABAgAAZThi
			ODVhODJiYzRiNTZkNzQ2Njk5YzkwNDhlMTBkZmY2Y2JiMGFhYjsw
			MDAwMDAwMDswMDAwMDAwMDswMDAwMDAwMDAwMDAwMDIwO2NvbS5h
			cHBsZS5hcHAtc2FuZGJveC5yZWFkLXdyaXRlOzAwMDAwMDAxOzAx
			MDAwMDA4OzAwMDAwMDAwMDA5MjJiYTU7L3VzZXJzL2plYW4tbHVj
			L2RldmVsb3BwZW1lbnQvY2VsZWRldiBjb2RlZmxvdy9jb2RlZmxv
			dyBzYW1wbGUgYXBwbGljYXRpb25zL3Nwcml0ZWtpdCB0ZXN0L3Nw
			YWNlc2hpcC5wbmcAAAAA2AAAAP7///8BAAAAAAAAABEAAAAEEAAA
			tAAAAAAAAAAFEAAASAEAAAAAAAAQEAAAfAEAAAAAAABAEAAAbAEA
			AAAAAAACIAAASAIAAAAAAAAFIAAAuAEAAAAAAAAQIAAAyAEAAAAA
			AAARIAAA/AEAAAAAAAASIAAA3AEAAAAAAAATIAAA7AEAAAAAAAAg
			IAAAKAIAAAAAAAAwIAAAVAIAAAAAAAABwAAAnAEAAAAAAAARwAAA
			IAAAAAAAAAASwAAArAEAAAAAAAAQ0AAABAAAAAAAAACA8AAAXAIA
			AAAAAAA=
			</data>
		</dict>
		<key>Spearman</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>Spearman</string>
			<key>SourceItemChangeTime</key>
			<real>431625495.74865699</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>337</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1566</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
