<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Program Bindings Libs</key>
	<array>
		<dict>
			<key>LibId</key>
			<string>apple_sdk_iphoneos8.3</string>
			<key>LibName</key>
			<string>iOS</string>
		</dict>
		<dict>
			<key>BindingsLibSourceGroupType</key>
			<string>SelfGeneratedBindingsLib</string>
			<key>CustomBindingsLibBindingsSourcePath</key>
			<string>/Volumes/Brume/Celedev CodeFlow/CodeFlow Sample Applications/SpriteKit Test/SpriteKitTest.xcodeproj</string>
			<key>CustomBindingsLibHeadersParsingOptions</key>
			<array>
				<string>-include</string>
				<string>/Volumes/Brume/Celedev CodeFlow/CodeFlow Sample Applications/SpriteKit Test/SpriteKitTest/SpriteKitTest-Prefix.pch</string>
				<string>-fobjc-arc</string>
			</array>
			<key>CustomBindingsLibHeadersSearchPaths</key>
			<array>
				<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/iphoneos/include</string>
				<string>$(USER_LIBRARY_DIR)/Application\ Support/com.celedev.CodeFlow/headers</string>
			</array>
			<key>CustomBindingsLibLastGenerationDate</key>
			<date>2015-05-20T16:51:35Z</date>
			<key>CustomBindingsLibSourceFilesTree</key>
			<data>
			YnBsaXN0MDDUAQIDBAUGdHVYJHZlcnNpb25YJG9iamVjdHNZJGFy
			Y2hpdmVyVCR0b3ASAAGGoK8QIAcIERIXHB0iJyguLzU8PT5CR0xN
			UVJeX2BhYmNkZ2twVSRudWxs1AkKCwwNDg8QVm9iamVjdFRuYW1l
			WmF0dHJpYnV0ZXNWJGNsYXNzgAOAAoAfgB5Q0hMMFBZaTlMub2Jq
			ZWN0c6EVgASAHNQJCgsMGBkaEIAGgAWAHYAeXVNwcml0ZUtpdFRl
			c3TSEwweFqIfIIAHgBGAHNQJCgsMIyQlJoAJgAiADIAQXxARQ0xE
			VkFwcERlbGVnYXRlLmjTKQwqKywtV05TLmJhc2VbTlMucmVsYXRp
			dmWAAIALgApfEHpmaWxlOi8vL1ZvbHVtZXMvQnJ1bWUvQ2VsZWRl
			diUyMENvZGVGbG93L0NvZGVGbG93JTIwU2FtcGxlJTIwQXBwbGlj
			YXRpb25zL1Nwcml0ZUtpdCUyMFRlc3QvU3ByaXRlS2l0VGVzdC9D
			TERWQXBwRGVsZWdhdGUuaNIwMTIzWiRjbGFzc25hbWVYJGNsYXNz
			ZXNVTlNVUkyiMjRYTlNPYmplY3TTNhMMNzk7V05TLmtleXOhOIAN
			oTqADoAPWHNlbGVjdGVkCNIwMT9AXxATTlNNdXRhYmxlRGljdGlv
			bmFyeaM/QTRcTlNEaWN0aW9uYXJ50jAxQ0RcQ0RGTE5hbWVkVXJs
			o0VGNFxDREZMTmFtZWRVcmxdQ0RGTE5hbWVkSXRlbdQJCgsMSElK
			JoATgBKAFYAQXxAUQ0xEVlZpZXdDb250cm9sbGVyLmjTKQwqKyxQ
			gACAC4AUXxB9ZmlsZTovLy9Wb2x1bWVzL0JydW1lL0NlbGVkZXYl
			MjBDb2RlRmxvdy9Db2RlRmxvdyUyMFNhbXBsZSUyMEFwcGxpY2F0
			aW9ucy9TcHJpdGVLaXQlMjBUZXN0L1Nwcml0ZUtpdFRlc3QvQ0xE
			VlZpZXdDb250cm9sbGVyLmjTNhMMU1g7pFRVOFeAFoAXgA2AGKRZ
			WlpcgBmAGoAagBuAD18QEmdlbmVyYXRpb25GaWxlRGF0ZV8QFGdl
			bmVyYXRpb25EaWRTdWNjZWVkXxAXZ2VuZXJhdGlvbkx1YU1vZHVr
			ZVBhdGgjQbi7gjIAAAAJXxASQ0xEVlZpZXdDb250cm9sbGVy0jAx
			ZWZXTlNBcnJheaJlNNM2EwxoaTugoIAP0jAxbG1eQ0RGTE5hbWVk
			R3JvdXCjbm80XkNERkxOYW1lZEdyb3VwXUNERkxOYW1lZEl0ZW3T
			NhMMcXI7oKCAD18QD05TS2V5ZWRBcmNoaXZlctF2d1Ryb290gAEA
			CAARABoAIwAtADIANwBaAGAAaQBwAHUAgACHAIkAiwCNAI8AkACV
			AKAAogCkAKYArwCxALMAtQC3AMUAygDNAM8A0QDTANwA3gDgAOIA
			5AD4AP8BBwETARUBFwEZAZYBmwGmAa8BtQG4AcEByAHQAdIB1AHW
			AdgB2gHjAeQB6QH/AgMCEAIVAiICJgIzAkECSgJMAk4CUAJSAmkC
			cAJyAnQCdgL2Av0DAgMEAwYDCAMKAw8DEQMTAxUDFwMZAy4DRQNf
			A2gDaQN+A4MDiwOOA5UDlgOXA5kDngOtA7EDwAPOA9UD1gPXA9kD
			6wPuA/MAAAAAAAACAQAAAAAAAAB4AAAAAAAAAAAAAAAAAAAD9Q==
			</data>
			<key>CustomBindingsLibTargetOSVersion</key>
			<string>7.1</string>
			<key>CustomBindingsLibXcodeTargetInfo</key>
			<dict>
				<key>target</key>
				<string>SpriteKitTest</string>
				<key>targetSdk</key>
				<string>iphoneos</string>
				<key>targetType</key>
				<string>com.apple.product-type.application</string>
			</dict>
			<key>LibBookmark</key>
			<data>
			Ym9va+wEAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAA3AMAAAQAAAADAwAAAAIAAAUAAAABAQAAVXNlcnMA
			AAAIAAAAAQEAAGplYW4tbHVjBwAAAAEBAABMaWJyYXJ5AAYAAAAB
			AQAAQ2FjaGVzAAAUAAAAAQEAAGNvbS5jZWxlZGV2LkNvZGVGbG93
			CAAAAAEBAABQcm9ncmFtcyQAAAABAQAAQ0MyRTRDOUQtQTIxMC00
			RTc0LUJBRDEtMkE0Q0I3Mjc4OTJCDAAAAAEBAABFeHRlcm5hbExp
			YnMZAAAAAQEAAFNwcml0ZUtpdFRlc3QubHVhYmluZGluZ3MAAAAk
			AAAAAQYAABAAAAAgAAAAMAAAAEAAAABQAAAAbAAAAHwAAACoAAAA
			vAAAAAgAAAAEAwAAfGQCAAAAAAAIAAAABAMAAMN7TgAAAAAACAAA
			AAQDAAA4fE4AAAAAAAgAAAAEAwAAbnxOAAAAAAAIAAAABAMAAPFP
			kAEAAAAACAAAAAQDAAD3d5ABAAAAAAgAAAAEAwAAq4uQAQAAAAAI
			AAAABAMAAKyLkAEAAAAACAAAAAQDAACti5ABAAAAACQAAAABBgAA
			DAEAABwBAAAsAQAAPAEAAEwBAABcAQAAbAEAAHwBAACMAQAACAAA
			AAAEAABBuwzrfwAAABgAAAABAgAAAgAAAAAAAAAPAAAAAAAAAAAA
			AAAAAAAACAAAAAQDAAAHAAAAAAAAAAQAAAADAwAA9wEAAAgAAAAB
			CQAAZmlsZTovLy8MAAAAAQEAAE1hY2ludG9zaCBIRAgAAAAEAwAA
			AABGpwMBAAAIAAAAAAQAAEG4Iv/AAAAAJAAAAAEBAAAxQkIzNEI4
			QS03RjU5LTNDMjktOUJBOS0yMTNBRTg0OTM4NkUYAAAAAQIAAIEA
			AAABAAgA7xcAAAEACAAAAAAAAAAAAAEAAAABAQAALwAAAAAAAAAB
			BQAAGQEAAAECAAA5MzM3NmVkYTJlMzdkMDFjODE2ZTZhNDk4NmYz
			OGU3NGUwZTEzYTdjOzAwMDAwMDAwOzAwMDAwMDAwOzAwMDAwMDAw
			MDAwMDAwMjA7Y29tLmFwcGxlLmFwcC1zYW5kYm94LnJlYWQtd3Jp
			dGU7MDAwMDAwMDE7MDEwMDAwMDg7MDAwMDAwMDAwMTkwOGJhZDsv
			dXNlcnMvamVhbi1sdWMvbGlicmFyeS9jYWNoZXMvY29tLmNlbGVk
			ZXYuY29kZWZsb3cvcHJvZ3JhbXMvY2MyZTRjOWQtYTIxMC00ZTc0
			LWJhZDEtMmE0Y2I3Mjc4OTJiL2V4dGVybmFsbGlicy9zcHJpdGVr
			aXR0ZXN0Lmx1YWJpbmRpbmdzAAAAANgAAAD+////AQAAAAAAAAAR
			AAAABBAAAOAAAAAAAAAABRAAAJwBAAAAAAAAEBAAANgBAAAAAAAA
			QBAAAMgBAAAAAAAAAiAAAKQCAAAAAAAABSAAABQCAAAAAAAAECAA
			ACQCAAAAAAAAESAAAFgCAAAAAAAAEiAAADgCAAAAAAAAEyAAAEgC
			AAAAAAAAICAAAIQCAAAAAAAAMCAAALACAAAAAAAAAcAAAPgBAAAA
			AAAAEcAAACAAAAAAAAAAEsAAAAgCAAAAAAAAENAAAAQAAAAAAAAA
			gPAAALgCAAAAAAAA
			</data>
			<key>LibName</key>
			<string>SpriteKitTest</string>
			<key>LibUrl</key>
			<string>file:///Users/jean-luc/Library/Caches/com.celedev.CodeFlow/Programs/CC2E4C9D-A210-4E74-BAD1-2A4CB727892B/ExternalLibs/SpriteKitTest.luabindings</string>
		</dict>
	</array>
	<key>Program Display Info</key>
	<dict>
		<key>LuaAppDocument-associatedXodeProject</key>
		<dict>
			<key>project</key>
			<string>SpriteKitTest.xcodeproj</string>
			<key>target</key>
			<string>SpriteKitTest</string>
			<key>targetSdk</key>
			<string>iphoneos</string>
			<key>targetType</key>
			<string>com.apple.product-type.application</string>
		</dict>
		<key>LuaAppWindow edited source path</key>
		<string>GameScene</string>
		<key>LuaAppWindow frame</key>
		<string>601 443 1379 760 0 0 2560 1417 </string>
	</dict>
	<key>Program Format Version</key>
	<string>0.9</string>
	<key>Program Groups Order</key>
	<dict>
		<key></key>
		<array>
			<string>CreateGame</string>
			<string>GameScene</string>
			<string>Spearman</string>
			<string>Spaceship</string>
		</array>
	</dict>
	<key>Program Platform Sdk Name</key>
	<string>iphoneos</string>
	<key>Program Source Files Info</key>
	<dict>
		<key></key>
		<dict>
			<key>RootGroupId</key>
			<string>SourceFile</string>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ListController Group IsExpanded</key>
				<true/>
			</dict>
		</dict>
		<key>CreateGame</key>
		<dict>
			<key>Source File Auto Reload</key>
			<false/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>CreateGame</string>
			<key>SourceItemChangeTime</key>
			<real>415040997.97592998</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>106</integer>
				<key>SrcEditor Visible Length</key>
				<integer>309</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>GameScene</key>
		<dict>
			<key>Source File Auto Reload</key>
			<false/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>GameScene</string>
			<key>SourceItemChangeTime</key>
			<real>445856076.426153</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>662</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1530</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
		<key>Spaceship</key>
		<dict>
			<key>SourceItemChangeTime</key>
			<real>442865060.486808</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>ImageViewerMagnification</key>
				<real>1</real>
				<key>ImageViewerVisibleHeight</key>
				<real>347</real>
				<key>ImageViewerVisibleOriginX</key>
				<real>0.0</real>
				<key>ImageViewerVisibleOriginY</key>
				<real>0.0</real>
				<key>ImageViewerVisibleWidth</key>
				<real>394</real>
			</dict>
			<key>SourceItemOriginalFilePath</key>
			<string>Spaceship.png</string>
			<key>SourceItemUrlBookmark</key>
			<data>
			Ym9vazwFAAAAAAQQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
			AAAAAAAAAAAAUAQAAAQAAAADAwAAAAIAAAcAAAABAQAAVm9sdW1l
			cwAFAAAAAQEAAEJydW1lAAAAEAAAAAEBAABDZWxlZGV2IENvZGVG
			bG93HAAAAAEBAABDb2RlRmxvdyBTYW1wbGUgQXBwbGljYXRpb25z
			DgAAAAEBAABTcHJpdGVLaXQgVGVzdAAADQAAAAEBAABTcGFjZXNo
			aXAucG5nAAAAGAAAAAEGAAAQAAAAIAAAADAAAABIAAAAbAAAAIQA
			AAAIAAAABAMAAIM1AAAAAAAACAAAAAQDAAACAAAAAAAAAAgAAAAE
			AwAAFY8AAAAAAAAIAAAABAMAAAUVAQAAAAAACAAAAAQDAACBGQEA
			AAAAAAgAAAAEAwAANRoBAAAAAAAYAAAAAQYAALwAAADMAAAA3AAA
			AOwAAAD8AAAADAEAAAgAAAAABAAAQbi/i68AAAAYAAAAAQIAAAEA
			AAAAAAAADwAAAAAAAAAAAAAAAAAAABYAAAABCQAAZmlsZTovLy9W
			b2x1bWVzL0JydW1lLwAACAAAAAQDAAAAwB3SBQAAAAgAAAAABAAA
			QbrqHeEAAAAkAAAAAQEAAENCMjM1RjFELTk2MjItMzBDQy1BMzA4
			LUMzNUQ4QUQzRTdENhgAAAABAgAAAQEAAAEACADvFwAAAQAIAAAA
			AAAAAAAADgAAAAEBAAAvVm9sdW1lcy9CcnVtZQAACAAAAAEJAABm
			aWxlOi8vLwwAAAABAQAATWFjaW50b3NoIEhECAAAAAQDAAAAAEan
			AwEAAAgAAAAABAAAQbgi/8AAAAAkAAAAAQEAADFCQjM0QjhBLTdG
			NTktM0MyOS05QkE5LTIxM0FFODQ5Mzg2RRgAAAABAgAAgQAAAAEA
			CADvFwAAAQAIAAAAAAAAAAAAAQAAAAEBAAAvAAAAYAAAAP7///8A
			8AAAAAAAAAcAAAACIAAAoAIAAAAAAAAFIAAAEAIAAAAAAAAQIAAA
			IAIAAAAAAAARIAAAVAIAAAAAAAASIAAANAIAAAAAAAATIAAARAIA
			AAAAAAAgIAAAgAIAAAAAAAAEAAAAAwMAAADwAAAEAAAAAwMAAAAA
			AAAEAAAAAwMAAAEAAAAcAAAAAQYAABQDAAAgAwAALAMAACADAAAg
			AwAAIAMAACADAADqAAAAAQIAAGY5YTVkYzU1ZDE2MGNjMGEwOTYw
			YTBmNWU4M2IwMmRmOTIxNTE0NjY7MDAwMDAwMDA7MDAwMDAwMDA7
			MDAwMDAwMDAwMDAwMDAyMDtjb20uYXBwbGUuYXBwLXNhbmRib3gu
			cmVhZC13cml0ZTswMDAwMDAwMTswMTAwMDAwZTswMDAwMDAwMDAw
			MDExYTM1Oy92b2x1bWVzL2JydW1lL2NlbGVkZXYgY29kZWZsb3cv
			Y29kZWZsb3cgc2FtcGxlIGFwcGxpY2F0aW9ucy9zcHJpdGVraXQg
			dGVzdC9zcGFjZXNoaXAucG5nAAAAtAAAAP7///8BAAAArAIAAA4A
			AAAEEAAAnAAAAAAAAAAFEAAAHAEAAAAAAAAQEAAATAEAAAAAAABA
			EAAAPAEAAAAAAAAAIAAAOAMAAAAAAAACIAAA+AEAAAAAAAAFIAAA
			bAEAAAAAAAAQIAAAIAAAAAAAAAARIAAArAEAAAAAAAASIAAAjAEA
			AAAAAAATIAAAnAEAAAAAAAAgIAAA2AEAAAAAAAAQ0AAABAAAAAAA
			AACA8AAAXAMAAAAAAAA=
			</data>
		</dict>
		<key>Spearman</key>
		<dict>
			<key>Source File Auto Reload</key>
			<true/>
			<key>Source File Is Start Item</key>
			<false/>
			<key>Source File Name</key>
			<string>Spearman</string>
			<key>SourceItemChangeTime</key>
			<real>431625495.74865699</real>
			<key>SourceItemDisplayInfo</key>
			<dict>
				<key>SrcEditor Selected Length</key>
				<integer>0</integer>
				<key>SrcEditor Selected Location</key>
				<integer>337</integer>
				<key>SrcEditor Visible Length</key>
				<integer>1566</integer>
				<key>SrcEditor Visible Location</key>
				<integer>0</integer>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
